
<div class="container">
    <div class="row">
        <div class="span12">
        <h2>Sign up</h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %>
          <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div>


          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first %>
          </div>
          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last %>
          </div>
          <!---div class="field">
            <%#= f.label :reputation %><br />
            <%#= f.number_field :reputation %>
          </div>
          <div class="field">
            <%#= f.label :flag %><br />
            <%#= f.check_box :flag %>
          </div>
          <div class="field">
            <%#= f.label :active %><br />
            <%#= f.check_box :active %>
          </div>
          <div class="field">
          	TODO: Profile Pic upload field
            <%#= f.label :profile %>
            <%#= f.text_area :profile %>
          </div-->
          <div class="field">
            <%= f.label "About me" %>
            <%= f.text_area :bio %>
          </div>
          <div class="field">
            <%= f.label "website(optional)" %>
            <%= f.text_field :web %>
          </div>


          <div><input name="commit" type="submit" value="Sign up" class="btn btn-success btn-large"></div>
        <% end %>

        <%= render "devise/shared/links" %>
        <br/>
        <br/>
        </div>
    </div>
</div>