<div class="landing-hero">
    <%= image_tag("bg1.jpg") %>
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Build your dream.</h1>
                    <h2>Bla bla bla bla bla.</h2>
                    <p><a href="" class="btn btn-large btn-success">Start a Project</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="band process">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h1>Step 1</h1>
                <h4>Start a new project with details about your idea.</h4>
            </div>
            <div class="span3">
                <h1>Step 2</h1>
                <h4>Get bids from designers and builders.</h4>
            </div>
            <div class="span3">
                <h1>Step 3</h1>
                <h4>Accept the best submission so that your project can get started.</h4>
            </div>
            <div class="span3">
                <h1>Step 4</h1>
                <h4>Pay your designer, receive the design, get it built.</h4>
            </div>
        </div>
    </div>
</div>

<div class="band samples">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="project">
                    <%= image_tag("sample1.jpg") %>
                    Sample#1
                </div>
                <div class="project">
                    <%= image_tag("sample2.jpg") %>
                    Sample#2
                </div>
                <div class="project">
                    <%= image_tag("sample3.jpg") %>
                    Sample#3
                </div>
                <div class="project">
                    <%= image_tag("sample4.jpg") %>
                    Sample#4
                </div>
                <div class="project">
                    <%= image_tag("sample5.jpg") %>
                    Sample#5
                </div>
                <div class="project">
                    <%= image_tag("sample6.jpg") %>
                    Sample#6
                </div>
                <div class="project">
                    <%= image_tag("sample7.jpg") %>
                    Sample#7
                </div>
                <div class="project">
                    <%= image_tag("sample8.jpg") %>
                    Sample#8
                </div>
            </div>
        </div>
    </div>
</div>

<div class="band footer">
    <div class="container">
        <div class="row">
            <div class="span6">About | FAQ | Contact Us</div>
            <div class="span6">&copy;2013 Prototypr</div>
        </div>
    </div>
</div>
