<div class="landing-hero">
    <%= image_tag("bg1.jpg") %>
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>Build your dream.</h1>
                    <h2>Bla bla bla bla bla.</h2>
                    <p><%= link_to 'Start a Project', new_project_path, :class=> "btn btn-large btn-success" %><!--a href="" class="btn btn-large btn-success">Start a Project</a--></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="band process">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h1>Step 1</h1>
                <h4>Start a new project with details about your idea.</h4>
            </div>
            <div class="span3">
                <h1>Step 2</h1>
                <h4>Get bids from designers and builders.</h4>
            </div>
            <div class="span3">
                <h1>Step 3</h1>
                <h4>Accept the best submission so that your project can get started.</h4>
            </div>
            <div class="span3">
                <h1>Step 4</h1>
                <h4>Pay your designer, receive the design, get it built.</h4>
            </div>
        </div>
    </div>
</div>

<div class="band samples">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Sample projects</h1>
                <div class="project">
                    <%= image_tag("samples/carabiners.jpg") %>
                    Caribiners
                </div>
                <div class="project">
                    <%= image_tag("samples/iphonestand1.jpg") %>
                    iPhone stand
                </div>
                <div class="project">
                    <%= image_tag("samples/iphonecase.jpg") %>
                    iPhone Case
                </div>
                <div class="project">
                    <%= image_tag("samples/ironman.jpg") %>
                    Iron Man helmet
                </div>
                <div class="project">
                    <%= image_tag("samples/bracelet.jpg") %>
                    Bracelet
                </div>
                <div class="project">
                    <%= image_tag("samples/net.jpg") %>
                    Holding net
                </div>
                <div class="project">
                    <%= image_tag("samples/guitar.jpg") %>
                    Guitar winder
                </div>
                <div class="project">
                    <%= image_tag("samples/phonecase.jpg") %>
                    Sprint phone case
                </div>
            </div>
        </div>
    </div>
</div>
