<div class="landing-hero">
    <%= image_tag("bg1.jpg") %>
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="center">
                        <h1>Make your ideas come to life.</h1>
                        <h2>The easiest way to transform the idea that’s in your <em>head</em> into a prototype that’s in your <em>hand</em>.</h2>
                        <p><%= link_to 'Start a Project', new_project_path, :class=> "btn btn-large btn-success" %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="band process">
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= image_tag("Sketch_it.png") %>
                <h3>Upload a sketch and write a description of your idea.</h3>
            </div>
            <div class="span4">
                <%= image_tag("Design_it.png") %>
                <h3>Hire and collaborate with the best designer for your project.</h3>
            </div>
            <div class="span4">
                <%= image_tag("Print_it.png") %>
                <h3>Receive your final design file, print it and bring your project to life.</h3>
            </div>
        </div>
    </div>
</div>

<div class="band samples">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Sample projects</h1>
                <div class="project">
                    <%= image_tag("samples/carabiners.jpg") %>
                    Caribiners
                </div>
                <div class="project">
                    <%= image_tag("samples/iphonestand1.jpg") %>
                    iPhone stand
                </div>
                <div class="project">
                    <%= image_tag("samples/iphonecase.jpg") %>
                    iPhone Case
                </div>
                <div class="project">
                    <%= image_tag("samples/ironman.jpg") %>
                    Iron Man helmet
                </div>
                <div class="project">
                    <%= image_tag("samples/bracelet.jpg") %>
                    Bracelet
                </div>
                <div class="project">
                    <%= image_tag("samples/net.jpg") %>
                    Holding net
                </div>
                <div class="project">
                    <%= image_tag("samples/guitar.jpg") %>
                    Guitar winder
                </div>
                <div class="project">
                    <%= image_tag("samples/phonecase.jpg") %>
                    Sprint phone case
                </div>
            </div>
        </div>
    </div>
</div>
