<div class="span12">
<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @submission.price %>
</p>

<p>
  <b>Timeframe:</b>
  <%= @submission.timeframe %>
</p>

<p>
  <b>Description:</b>
  <%= @submission.description %>
</p>

<% if can? :update, @submission %>
<%= link_to 'Edit', edit_submission_path(@submission) %> |
<% end %>
<%= link_to 'Back', submissions_path %>
</div>