<div class="span12">
<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @submission.price %>
</p>

<p>
  <b>Timeframe:</b>
  <%= @submission.timeframe %>
</p>

<p>
  <b>Description:</b>
  <%= @submission.description %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
</div>