<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="span4">
        <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div class="field">
            <%= f.label :end_date %>
            <!--<%= f.date_select :end_date %>-->
            <input class="datepicker" size="16" type="text" value="" name="project[end_date]" data-date-format="yyyy-mm-dd">
        </div>
        <div class="field">
            <%= f.label :min_price %>
            <div class="input-prepend">
                <span class="add-on">$</span>
                <input id="project_min_price" name="project[min_price]" size="30" type="text">
            </div>

        </div>
        <div class="field">
            <%= f.label :max_price %>
            <div class="input-prepend">
                <span class="add-on">$</span>
                <input id="project_max_price" name="project[max_price]" size="30" type="text">
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description %>
      </div>
    </div>
</div>

  <div class="actions">
    <input name="commit" type="submit" value="Start the Project" class="btn btn-success btn-large">
  </div>
<% end %>
