<div class="container">
    <div class="row">
        <div class="span12 projects">
        <h1>Listing projects</h1>

        <% @projects.each do |project| %>

        <div class="project">
            <div class="pull-right">Ends: <%= project.end_date %></div><br/>
            <div class="pull-right">$<%= project.min_price %> - $<%= project.max_price %></div>
            <h1><a href="/projects/<%= project.id %>"><%= project.title %></a></h1>
            <h3><%= project.description %></h3>
        </div>

            <% if can? :update, project %>
              <%= link_to 'Edit', edit_project_path(project) %> |
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>

        <br />
        <%= link_to 'New Project', new_project_path %>

        <br/>
        <br/>
        </div>
    </div>
</div>