<div class="span12">
<h1>Listing projects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Submission</th>
    <th>Title</th>
    <th>Description</th>
    <th>End date</th>
    <th>Min price</th>
    <th>Max price</th>
    <th>Vote</th>
    <th>Flag</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.user_id %></td>
    <td><%= project.submission_id %></td>
    <td><%= project.title %></td>
    <td><%= project.description %></td>
    <td><%= project.end_date %></td>
    <td><%= project.min_price %></td>
    <td><%= project.max_price %></td>
    <td><%= project.vote %></td>
    <td><%= project.flag %></td>
    <td><%= project.active %></td>
    <td><%= link_to 'Show', project %></td>
    <% if can? :update, project %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
</div>
