<div class="span12">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<p>
  <b>Min price:</b>
  <%= @project.min_price %>
</p>

<p>
  <b>Max price:</b>
  <%= @project.max_price %>
</p>

<% if can? :update, @project %>

  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', projects_path %> |
<%= link_to 'Submit a submission', new_submission_path(:project_id => @project.id) %>
</div>