<div class="pin">
	<div class="resourceButtons">
		<div class="pathsHolder">
			<button class="path_bttn"value="<%=resource.id%>">
				Paths
			</button>
			<div class="pathsList">
		    	<% if current_user && current_user.paths %>
		         	<% current_user.paths.each do |path| %>
		            	<%= render :partial => "shared/path_nav_bar",
		                 :locals =>{ :path => path, :resource =>resource } %>
			     	<% end %> 
		    	<% else %>
			        <ul class="nav">
		            	<li>
		                	<%= link_to 'Create a path', new_path_path %>
		              	</li>
		            </ul>
		    	<% end %>
			</div>
	    </div> <!--/. pathsDropdown -->
	</div> <!--/. resourceButtons -->
	<div class="resourceContentHolder">
		<div class="resourceImage">
			 <%= link_to image_tag(resource.snapshot.url, :class=>"thumbImg"), url_for(resource.link), :value => resource.id  %>
		</div>
		<div id="resourceInfo">
			<div class="upvotesCount">
	       		<%= resource.reputation_for(:votes).to_i %> 
	   		</div>
            <%= link_to resource.title, url_for(resource.link), :value => resource.id, :class => 'resourceTitle' %>
	    </div>
		<div class="resourceDescription">
	    	<%= resource.description %>
	    </div>
	</div>

</div>