<!DOCTYPE html>
<html>
<head>
  <title>Prototypr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'helpers/nav' %>

    <div class="main">
        <% if !notice.nil?%>
        <div class="container">
            <div class="span12">
                <p class="alert notice"><%= notice %></p>
            </div>
        </div>
        <% end %>
        <% if !alert.nil?%>
        <div class="container">
            <div class="span12">
                <p class="alert"><%= alert %></p>
            </div>
        </div>
        <% end %>
        <%= yield %>
    </div>

    <%= render 'helpers/footer' %>

<%= javascript_include_tag "application" %>
</body>
</html>
