<!DOCTYPE html>
<html>
<head>
  <title>Prototypr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'helpers/nav' %>
  <div class="container">
	  <div class="span12">
	    <%#= bootstrap_flash %>
	    <%= yield %>
	  </div>
	</div> <!-- /container -->

<%= javascript_include_tag "application" %>
</body>
</html>
