<!DOCTYPE html>
<html>
<head>
  <title>Prototypr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'helpers/nav' %>
<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
