<!DOCTYPE html>
<html>
<head>
  <title>Prototypr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41041918-1', 'herokuapp.com');
    ga('send', 'pageview');

  </script>
</head>
<body>
    <%= render 'helpers/nav' %>

    <div class="main">
        <% if !notice.nil?%>
        <div class="container">
            <div class="span12">
                <p class="alert notice"><%= notice %></p>
            </div>
        </div>
        <% end %>
        <% if !alert.nil?%>
        <div class="container">
            <div class="span12">
                <p class="alert"><%= alert %></p>
            </div>
        </div>
        <% end %>
        <%= yield %>
    </div>

    <%= render 'helpers/footer' %>

<%= javascript_include_tag "application" %>
</body>
</html>
