<!DOCTYPE html>
<html>
<head>
  <title>Prototypr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'helpers/nav' %>
    <% if !notice.nil?%>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if !alert.nil?%>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'helpers/footer' %>

<%= javascript_include_tag "application" %>
</body>
</html>
